.body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.hero {
    display: flex;
    background-color: #1F2937;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 64px;
    padding: 16px;
}

.box {
    display: flex;
    width: 125px;
    height: 125px;
    border: 2px solid rgb(0, 81, 255);
    border-radius: 16px;
}

.info {
    max-width: 125px;
}

.info-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-top: 64px;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 64px;
    padding: 16px;
    background-color: #E5E7EB;
}

.quote, .quote-name {
    width: 800px;
    color: #1F2937;
}

.quote {
    font-size: 32px;
    font-style: italic;
    font-weight: 100;
    margin-top: 32px;
}

.quote-name {
    text-align: right;
    margin-top: 16px;
    margin-bottom: 32px;
    font-weight: 700;
}

.sign-up-container {
    display: flex;
    justify-content: center;
    margin: 32px 0px;
}

.sign-up-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    background-color: #3882F6;
    padding: 32px 64px;
    border-radius: 8px;
}

.sign-up-box div {
    padding: 0px 32px;
}

.sign-up-text p {
    color: white;
}

button {
    width: 100px;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
}

p {
    margin: 0px;
}

.upper {
    font-weight: 700;
    font-size: 24px;
}