
.body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header-container {
    display: flex;
    background-color: #1F2937;  
    justify-content: space-around;
    padding: 0px 64px;
}
.header-container h1 {
    margin: 0;
    padding: 8px 0 0 0;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.hero-container {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 128px 0px;
}

.hero {
    display: flex;
    background-color: #1F2937;
    max-width: 900px;
}

.hero h2, .hero p {
    margin: 0px;
}
 .hero div, .hero-image {
     flex: 1;
 }

 .hero h2 {
     font-size: 48px;
     font-weight: 900;
     color: #F9FAF8;
 }

 .hero p {
     font-size: 18px;
     margin: 8px 0px;
     color: #E5E7EB
 }

.hero div {
    gap: 8px;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.hero button {
    width: 100px;
    height: 28px;
    border: 2px solid #3882F6;
    background-color: #3882F6;
    border-radius: 4px;
    color: white;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 16px 0 0 0;
    gap: 18px;

}

a {
    text-decoration: none;
    color: white;
    font-size: 14px;;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 64px;
    padding: 16px;
}

.box {
    display: flex;
    width: 125px;
    height: 125px;
    border: 2px solid rgb(0, 81, 255);
    border-radius: 16px;
}

.info {
    max-width: 125px;
}

.info-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-top: 64px;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 64px;
    padding: 16px;
    background-color: #E5E7EB;
}

.quote, .quote-name {
    width: 800px;
    color: #1F2937;
}

.quote {
    font-size: 32px;
    font-style: italic;
    font-weight: 100;
    margin-top: 32px;
}

.quote-name {
    text-align: right;
    margin-top: 16px;
    margin-bottom: 32px;
    font-weight: 700;
}

.sign-up-container {
    display: flex;
    justify-content: center;
    margin: 32px 0px;
}

.sign-up-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    background-color: #3882F6;
    padding: 32px 64px;
    border-radius: 8px;
}

.sign-up-box div {
    padding: 0px 32px;
}

.sign-up-text p {
    color: white;
}

.sign-up-button button {
    width: 100px;
    height: 28px;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
}

p {
    margin: 0px;
}

.upper {
    font-weight: 700;
    font-size: 24px;
}

.footer {
    text-align: center;
    background-color: #1F2937;
    padding: 32px 0px;
    color: white;
}